@layer component {
  .gallery {
    display: flex;
    height: 530px;
    gap: 10px;
  }
  .thumbnails-gallery {
    display: flex;
    flex-direction: column;
    gap: 10px;
    order: -1;
  }
  .thumbnail-main {
    width: 400px;
    height: 530px;
    border-radius: 9px;
  }
  .thumbnail-small {
    flex: 1;
    border-radius: 9px;
    border: 1px solid transparent;
  }
  .thumbnail-button {
    display: contents;
    border-radius: 9px;
  }
  .active-thumbnail {
    border-color: black;
  }
  @media (max-width: 1060px) {
    .gallery {
      flex-direction: column;
      width: 100%;
      height: auto;
    }
    .thumbnails-gallery {
      flex-direction: row;
      width: 100%;
      gap: 0;
    }
    .thumbnail-main {
      width: 100%;
      order: -1;
    }
    .thumbnail-small {
      width: 33%;
    }
  }
}
