@layer component {
  .product-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding-bottom: var(--footer-subscribe-height);
  }
  .gallery {
    flex: 1;
    display: flex;
    gap: 10px;
  }
  
  .product-info {
    flex: 1;
  }
  
  .product-info > :not(:last-child) {

    border-bottom: 1px solid black;
  }
  .product-description {
    padding-block: 15px;
  }
  .filter-sizes {
    padding-block: 15px;
    text-align: left;
  }
  .thumbnails-gallery {
    display: flex;
    flex-direction: column;
    gap: 10px;
    order: -1;
  }
  .thumbnail-main {
    width: 400px;
    height: 530px;
    border-radius: 9px;
    object-fit: cover;
  }
  .thumbnail-small {
    width: 150px;
    height: 150px;

    border-radius: 9px;
  }
  .thumbnail-button {
    width: 150px;
    height: 150px;
    border-radius: 9px;
  }
  .active-thumbnail {
    border: 1px solid black;
  }
}
