@layer page {
  .products-page {
    background-color: white;
    margin-bottom: 200px;
  }
}

@layer component {
  .products-container-grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    padding-top: 20px;
  }
  .products-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
  }
  .products-heading {
    display: flex;
    justify-content: space-between;
  }
  .products-sort {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .dropdown-sort-container {
    width: 120px;
    display: grid;
    place-items: center;
    position: relative;
  }
  .dropdown-sort {
    position: absolute;
    right: 0;
    top: 100%;
    display: none;
    background-color: white;
    border-radius: 9px;
    width: 120px;
  }
  .dropdown-sort.open {
    display: initial;
  }
  .dropdown-sort-list {
    display: flex;
    flex-direction: column;
  }
  .dropdown-sort-list > li:first-child,
  .dropdown-sort-list > li:last-child {
    border-radius: 9px;
  }
  .dropdown-sort-list > li:hover {
    background-color: rgb(240, 240, 240);
  }
  .pages-list-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
  }
  .pages-list {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 200px;
  }
  .arrow {
    vertical-align: middle;
    padding-inline: 5px;
  }
  .change-page {
    border: solid #f3f3f3 1px;
    border-radius: 9px;
    padding: 10px;
  }
  .change-page:disabled {
    color: rgb(97, 97, 97);
    cursor: not-allowed;
  }
  .page-number {
    padding: 10px 15px;
    color: #f3f3f3;

    border-radius: 9px;
  }
  .page-number-active {
    color: black;
    background-color: #cacaca;
  }
}
