@layer component {
  .btn-pill {
    border-radius: 30px;
    padding-inline: 45px;
    padding-block: 10px;
    max-width: 200px;
  }
  .btn-black {
    color: white;
    background-color: black;
  }
  .btn-white {
    color: black;
    background-color: transparent;
    border: 1px solid #a5a5a5;
  }
  .btn-search {
    width: 24px;
    height: 24px;
  }

  .btn-profile {
    margin-inline: 5px;
  }
  .btn-intro {
    margin-block: 10px;
  }
}
