@layer component {
    .header {
       position: relative;
       padding-top: 20px;
       padding-bottom: 20px;
       
    }
    .header-bg {
      background-color: #FFFFFF;
    }
  .flex-header {
    display: flex;
    gap: 20px;
     align-items: center;
    justify-content: space-between;

  }
  .flex-form {
    flex: 1;
    display: flex;
    gap: 10px;
  }
  .flex-categories {
    height: 60px;
    gap: 0px;
  }
  .flex-categories > li {
    margin-top: 20px;
    padding-bottom: 20px;
    padding-inline: 10px;
    align-self: flex-start;
  }
  .search-bg {
    border-radius: 30px;
    padding-inline: 15px;
    padding-block: 10px;
    background-color: #F0F0F0;
  }
  .profile-btn-flex {
    display: flex;
    align-items: center;
  }

  @media (max-width: 1060px) {
    .flex-form, .flex-categories {
      display: none;
    }
  }
}

