@layer component {
  .flex-home {
    display: flex;
    height: max(80vh, 100px);
    margin-top: 50px;
  }

  .home-category {
    margin-block: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding-bottom: 20px;
  }
  .home-category:first-child {
    margin-top: 60px;
  }
  .items-line {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
  }
  .items-line-img {
    width: 100%;
    height: auto;
    border-radius: 20px;
  }
  .category-hr {
    border: none;
    height: 1px;
    background-color: #d3d3d3;
    
  }
  .category-heading {
    margin-block: 30px;
    text-transform: uppercase;
    text-align: center;
  }

  .flex-category-squares {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
  }
  .bg-img {
    flex: 1;
  }
  .category-square-img {
    width: 100%;
    height: auto;
    border-radius: 20px;
  }
  .category-squares-container {
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 30px;
    background-color: #F0F0F0;
    border-radius: 30px;
  }
}
