@layer component {
  .flex-home {
    display: flex;
    height: max(80vh, 100px);
    margin-top: 50px;
  }

  .home-category {
    margin-top: 60px;
  }
  .category-heading {
    text-transform: uppercase;
    text-align: center;
  }
  .items-line {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  .flex-category-squares {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  .category-square-img {
    width: 20vw;
    height: auto;
  }
}
