@layer component {
  .reviews-container {
    margin-top: 40px;
  }

  .review-card {
    width: 400px;
    height: 240px;
    border: 1px rgb(204, 204, 204) solid;
    border-radius: 15px;
    padding-inline: 20px;
    padding-block: 10px;
    flex-shrink: 0;
  }
  .review-card:not(:first-child) {
    margin-left: 20px;
  }

  .rating {
    margin-block: 5px;
  }
  .fa-star,
  .fa-solid {
    color: orange;
    padding-inline: 2px;
  }

  .fa-circle-check {
    color: #30cf65;
  }
  .reviews-carousel-container {
    margin-top: 20px;
    overflow-x: hidden;
  }
  .slider-buttons {
    display: flex;
    align-items: center;
  }
  .heading-carousel-container {
    display: flex;
    justify-content: space-between;
  }
  .heading-carousel {
    text-transform: uppercase;
  }

  @media (max-width: 760px) {
    .review-card {
      width: 100%;
    }
  }
}
